@font-face {
  font-family: Open Sans;
  src: url("https://github.com/netology-code/mq-diploma/blob/master/sources/fonts/OpenSans-Bold.woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Open Sans;
  src: url("https://github.com/netology-code/mq-diploma/blob/master/sources/fonts/OpenSans-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}


body {
  font-family: "Open Sans", arial, sans-serif;
  margin: 0;
   color: #ffffff;  
  }

.header {
  position: relative;
  box-sizing: border-box;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0a0e34;
  background-position: center center;
  text-align: center;
  }

.header::after {
  position: absolute;
  content: "";
 background-color: #161736;
 opacity: 0.7;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.icon {
 fill: #ffffff;  
 width: 12%;
 padding-top: 3%;
}

.welcome__container {
  box-sizing: border-box;
  margin: auto;
  position: relative;
  z-index: 1;
 }

.welcome__info {
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
  padding-top: 90vh;
  padding-bottom: 50vh;
  
  font-family: "Open Sans";
  font-weight: bold;
  text-align: center;
  }
 
.welcome__recruited {
  text-decoration: none;
  color: #ffffff; 
    }

.welcome__play {
  text-decoration: none;
  color: #ffffff;
}

.welcome__footer {
   display: flex;
  flex-wrap: wrap;
  justify-content: center;
   }

.search {
  display: flex;
  flex-wrap: wrap;
}

  .icon-logo {
  width: 15%;
  fill: #ffffff;
  padding-left: 20px;
 }


.button {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;

  border: none;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  margin-left: 40px;
  background-color: #5e42b0;
  }

.button-top {
  padding: 0px 10px;
  }

.button-bottom {
  padding: 0px 70px;
}

.button:hover {
  opacity: 0.7;
}

.button:focus {
  outline-offset: 5px;
  outline: 2px solid #9b59b6;
}


@media (max-width: 640px) {
  .header {
    font-size: 28px;
    background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/football_767.jpg");
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  .header {
    font-size: 64px;
    background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/football_1280.jpg");
  }
}

 @media (min-width: 961px) {
  .header {
     font-size: 90px;
  line-height: 100px;
    background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/football_1920.jpg");
  }
   
  .welcome__recruited {
  padding-left: 15px;
   }

.welcome__play {
    padding-left: 470px;
     }

.welcome__footer {
  padding-top: 60px;
  padding-bottom: 100px;
  justify-content: center;
  }
   
   .button {
  
  width: 320px;
  height: 70px;
  padding: 2px 30px 3px;
  border: none;
  
  
  font-size: 14px;
   border-radius: 35px;
}
 }





body {
  margin: 0;
  font-family: Open Sans, Arial, san-serif;
  overflow-x: hidden;
}  

body::after {
  content: url(https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/surface_desktop.jpg);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.3;
  pointer-events: none;
  z-index: 99;
}
